/* General resets */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --chart-text-color: #64748b;
}
body.dark-mode:root {
  --chart-text-color: #ffffff;
}

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
}
body {
  background-color: #ffffff; /* Light background */
  color: #334155; /* Light text color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
body.dark-mode {
  background-color: #383544; /* Dark background */
  color: #ffffff !important; /* Light text color */
}

.container {
  display: flex;
  height: 100%;
  /* position: relative;
  bottom: 50%; */
}

/* Sidebar */
.sidebar {
  width: 240px;
  color: #334155;
  position: fixed;
  height: 100%;
  transition: transform 0.3s ease;
  border-right: 1px solid #f1f5f9;
  z-index: 2;
  background-color: #ffffff;
  padding-top: 16px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none;
}

body.dark-mode .sidebar {
  background-color: #484554;
  color: #ffffff;
  border-right: 1px solid #484554;
}

.sidebar .dark-mode {
  background-color: #383544; /* Dark background */
  color: #ffffff !important; /* Light text color */
}
.top-logo {
  width: 64px;
  height: 32px;
  gap: 0px;
  /* border: 1px 0px 0px 0px; */
  opacity: 0px;
  border: 1px solid #2563eb;
  text-align: center;
  font-size: 12px;
  color: #2563eb;
  background-color: #93c5fd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  /* margin: 16px 0px 0px 16px; */
  margin-left: 12px;
  margin-right: 12px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.sidebar-menu {
  list-style: none;
  margin-top: 24px;
  padding: 0px 8px 8px 8px;
}
/* body.dark-mode .sidebar-icons path {
  stroke: #8576ff;
} */
.sidebar-menu li {
  margin: 16px 0;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  /* justify-content: flex; */
  align-items: center;
  gap: 16px;
  cursor: pointer;
  padding-left: 8px;
  transition: background-color 0.3s ease;
}
.sidebar-menu li:hover {
  background-color: #fcf7ff;
  color: #8576ff;
}

.sidebar-menu li:hover .sidebar-icons path {
  stroke: #8576ff; /* Change stroke color on hover */
}
body.dark-mode .sidebar-menu li:hover .sidebar-icons path {
  stroke: #ffffff; /* Change stroke color on hover */
}
/* li:hover .sidebar-icons:hover path {
  stroke: #8576ff;
} */
body.dark-mode .sidebar-menu li:hover {
  background-color: #8576ff;
}

.sidebar-menu li:hover a {
  color: #8576ff;
}
body.dark-mode .sidebar-menu li:hover a {
  color: #fcf7ff;
}

.sidebar-menu li:hover img {
  color: #8576ff;
}
.sidebar-menu a {
  color: #334155;
  text-decoration: none;
  display: block; /* Make the anchor fill the li */
  padding: 8px 0;
}

body.dark-mode .sidebar-menu a {
  color: #ffffff;
}

.notification-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.notify {
  display: flex;
  align-items: center;
  gap: 16px;
}
.message-count {
  background-color: #f43f5e;
  border-radius: 100%;
  /* padding: 8px; */
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
  background-color: transparent;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-email {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #64748b;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* The circle inside the slider */
.slider:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 12px;
  left: 1px;
  /* right: 2px; */
  /* bottom: 4px; */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the switch is checked */
input:checked + .slider {
  background-color: #93c5fd;
}

/* Move the circle to the right when checked */
input:checked + .slider:before {
  transform: translateX(10px);
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  margin-left: 245px;
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom {
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 16px;
}
.header h1 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}
body.dark-mode .header h1 {
  color: #ffffff;
}
.content-top-header h1 {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  margin-top: 8px;
}
.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}
.overview-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}
body.dark-mode .overview-icon path {
  stroke: #ffffff;
}
.overview-card {
  width: 100%;
  border: 1px solid #f2f2f7;
  padding: 16px 16px 16px 16px;
  margin-top: 24px;
  line-height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* overflow: hidden;
  position: relative; */
}
body.dark-mode .overview-card {
  background-color: #484554;
  border: none;
}
.title-container {
  display: flex;
  align-items: center;
  gap: 7.17px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

body.dark-mode .title-container h4 {
  color: #ffffff !important; /* Change h6 color to white in dark mode */
}

.overview-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* .card:hover .card-btn {
  background-color: #0056b3;
} */

.overview-card:hover .title-container {
  opacity: 0.9;
}
.title-container h6 {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600 !important;
  line-height: 12px;
  color: #10b981 !important;
}

#down {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600 !important;
  line-height: 12px;
  color: #f43f5e !important;
}
.box-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #64748b;
}
.box-count {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #334155;
}

.events h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-top: 34px;
  margin-bottom: 14px;
  color: #000000;
}
body.dark-mode .events h3 {
  color: #ffffff;
}
.event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.chart-container {
  width: 100%;
  height: 320px;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  border: 1px solid #f2f2f7;
}
body.dark-mode .chart-container {
  border: none;
  background-color: #484554;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  /* height: 320px; */
  height: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Remove fixed width */
}

.slide {
  min-width: 100%;
  position: relative;
}

.carousel img {
  width: 100%; /* Ensure images take up full width */
  border-radius: 10px;
}
.text {
  position: absolute;
  bottom: 25px;
  left: 46%;
  transform: translateX(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 20px;
  font-size: 12px;
  /* text-align: center; */
  width: 94%;
  border-radius: 5px;
  line-height: 16px;
}
.text h6 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #334155;
  /* padding: 8px; */
  cursor: pointer;
  border: none;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin: auto;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: black;
}
.events-history-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.search-container {
  position: relative;
  outline: none;

  /* width: 100%; */
}

.search-container img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
}

.search-container input {
  width: 200px;
  padding: 9px 9px 9px 35px; /* Add padding to the left for the icon */
  font-size: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  /* color: #cbd5e1; */
}
body.dark-mode .search-container input {
  border: none;
  background-color: #484554;
}
input,
textarea,
select {
  font-size: 14px; /* Prevent zoom on focus */
}
body.dark-mode input,
textarea,
select {
  font-size: 14px; /* Prevent zoom on focus */
  color: #ffffff;
}

.search-container input::placeholder {
  color: #999;
}
.display-result {
  /* left: 0; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 600 !important;
  color: #334155 !important;
  /* text-align: left !important; */
}
body.dark-mode .display-result {
  color: #ffffff !important;
}
.display-result-mobile {
  -webkit-font-smoothing: antialiased;
  position: relative;
  right: 28%;
  /* left: 0; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 600 !important;
  color: #334155 !important;
  /* text-align: left !important; */
}
body.dark-mode .display-result-mobile {
  color: #ffffff !important;
}

.history-data {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 36px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
  cursor: pointer;
  background: url('./assets/mainContentIcons/dropdown.svg') no-repeat right 20px
    center;
  outline: none;
  color: #334155 !important;
}

body.dark-mode .history-data {
  border: none;
  background-color: #484554;
  color: #ffffff !important;
}

.custom-select-wrapper {
  position: relative;
  width: 200px; /* adjust width as needed */
}

.history-data-date {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 36px;
  padding: 2px 16px;
  gap: 8px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
  cursor: pointer;
  background: url('./assets/mainContentIcons/dropdown.svg') no-repeat right 16px
    center;
  width: 88px;
  cursor: pointer;
  outline: none;
  color: #334155 !important;
}
body.dark-mode .history-data-date {
  border: none;
  background-color: #484554;
  color: #ffffff !important;
}
.recent-border {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 8px 8px;
  gap: 8px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.history-data-recent {
  appearance: none; /* Removes default arrow in most browsers */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #334155 !important;
}

body.dark-mode .recent-border {
  border: none;
  background-color: #484554;
  color: #ffffff !important;
}
body.dark-mode .history-data-recent {
  color: #ffffff !important;
}
.custom-arrow {
  pointer-events: none; /* Makes sure the arrow doesn't interfere with clicking the select */
  position: relative;
  /* top: 50%;
  right: 10px; */
  transform: translateY(-50%);
}
body.dark-mode .arrow-border path {
  stroke: #fcf7ff;
}

select.history-data-recent {
  position: relative; /* Make sure the SVG can be positioned within the select */
}
.history-data .data {
  color: #334155;
}

.status {
  width: 99px;
}
.name {
  width: 95px;
}
.rows-number {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 36px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
  cursor: pointer;
  background: url('./assets/mainContentIcons/dropdown.svg') no-repeat right 10px
    center;
  outline: none;
  color: #334155 !important;
}
body.dark-mode .rows-number {
  color: #ffffff !important;
}
.input-events {
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
  gap: 8px;
  align-items: center;
  width: 100%;
  outline: none;
}
.recent {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  /* width: 10%; */
}
.sort {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  /* width: 40%; */
}

.sort h4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 20px;
}

.ecclipse-export {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* .most-recent {
  width: 139px;
} */
.export {
  display: flex;
  align-items: center;
  /* width: 100px; */
  height: 36px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
}
body.dark-mode .export {
  border: none;
  background-color: #484554;
  color: #ffffff !important;
}
body.dark-mode .content-icons path {
  stroke: #fcf7ff;
}
.events .export h4 {
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}
body.dark-mode .export h4 {
  color: #ffffff !important;
}

/* table  */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  background-color: #f1f5f9; /* Light gray background for header */
  padding: 16px;
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #64748b;
}
body.dark-mode th {
  background-color: #6a6676;
  color: #ffffff;
}
td {
  padding: 14px 14px 28px 14px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #334155 !important;
}
body.dark-mode td {
  color: #ffffff !important;
}

.mobile-table-header {
  background-color: #f1f5f9; /* Light gray background for header */
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15%;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;

  color: #64748b;
}
body.dark-mode .mobile-table-header {
  background-color: #6a6676;
  color: #ffffff;
}

.pagination-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px; */
  margin-top: 30px;
  /* margin-bottom: 80px; */
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 60px;
}
body.dark-mode .pagination-arrow path {
  stroke: #8576ff;
}

.arrow-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e2e8f0;
  color: white;
  border: none;
  border-radius: 4px;
}
body.dark-mode .arrow-btn {
  background-color: #484554;
  color: #ffffff;
  border: none;
}

.page-numbers {
  display: flex;
  gap: 16px;
}

.page-numbers button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: 0px solid #ddd;
  border-radius: 100%;
  color: #334155;
}
body.dark-mode .page-numbers button {
  /* background-color: transparent; */
  color: #ffffff;
  /* border: none; */
}

.page-numbers .active {
  background-color: #8576ff;
  color: white;
}

.show-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8.8px;
  margin-bottom: 60px;
}
.show-row h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}
body.dark-mode .show-row h3 {
  color: #ffffff;
}
.row-selected {
  width: 96px;
  height: 36px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
}
.fa-ellipsis-v {
  width: 0.83px;
  height: 9.17px;
}
.ecclipse {
  width: 36px;
  height: 36px;
  padding: 8px 8px 8px 8px;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid #e2e8f0;
  opacity: 0px;
  cursor: pointer;
  text-align: center;
}
body.dark-mode .ecclipse {
  border: none;
  background-color: #484554;
  color: #ffffff !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content box */
.modal-content {
  background-color: white;
  margin: 15% auto; /* Center the modal */
  /* padding: 24px; */
  border-radius: 10px;
  width: 80%; /* Adjust modal width */
  max-width: 440px; /* Maximum width */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding-top: 24px;
}
body.dark-mode .modal-content {
  background-color: #484554 !important;
  color: #ffffff;
}

.modal-content h1 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #334155;
  margin-left: 24px;
  margin-right: 24px;
}

body.dark-mode .modal-content h1 {
  color: #ffffff;
}

.modal-content p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #64748b;
  margin-left: 24px;
  margin-right: 24px;
}
body.dark-mode .modal-content p {
  color: #ffffff;
}

.modal-content h2 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #334155 !important;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
body.dark-mode .modal-content h2 {
  color: #ffffff !important;
}

.modal-content h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #334155 !important;
  /* margin-top: 24px; */
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
}

body.dark-mode .modal-content h3 {
  color: #ffffff !important;
}

/* Close button */
.closeModalBtn-box {
  border: 1px solid #e2e8f0;
  /* padding: 4px; */
  border-radius: 100%;
  position: relative;
  float: right;
  margin-right: 24px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent !important;
}
body.dark-mode .closeModalBtn-box {
  background-color: #484554 !important;
}
.closeModalBtn {
  /* float: right; */
  /* border: 1.5px solid #334155; */
  cursor: pointer;
  width: 5.25px;
  height: 5.25px;
  padding: 4px;
}

.closeModalBtn:hover,
.closeModalBtn:focus {
  color: black;
  text-decoration: none;
}

/* Button to trigger the modal */
.open-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: 24px; */
}

.group-btn {
  margin-top: 24px;
  padding: 24px 24px 24px 24px;
  display: flex;
  justify-content: space-between;
}
body.dark-mode .group-btn {
  background-color: #ada9bb;
}
.btn-two {
  display: flex;
  gap: 8px;
}
.btn-edit {
  border: 1px solid #e2e8f0;
  width: 58px;
  height: 36px;
  text-align: center;
  background-color: transparent;
  color: #334155;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  border-radius: 2px;
}
body.dark-mode .btn-edit {
  border: none;
  background: #fff;
  border: 1px solid #e2e8f0;
}

.btn-delete {
  border: 1px solid #e2e8f0;
  width: 75px;
  height: 36px;
  text-align: center;
  background-color: #f43f5e;
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  border-radius: 2px;
}
body.dark-mode .btn-delete {
  border: none;
}
.btn-completed {
  border: 1px solid #e2e8f0;
  width: 159px;
  height: 36px;
  text-align: center;
  background-color: #8576ff;
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  border-radius: 2px;
}
body.dark-mode .btn-completed {
  border: none;
}

.bottom-menu-bar {
  overflow-x: auto;
  scrollbar-width: none;
  position: fixed;
  /* margin-top: 50%; */
  z-index: 5;
}
.bottom-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: 50%;
  z-index: 5;
}

.bottom-menu li {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 98px;
  padding: 20px;
  gap: 15px;
  /* border-top: 1px solid red !important; */
  /* background-color: red !important; */
  z-index: 20;
}

.bottom-menu li img {
  margin-right: 10px;
}

.bottom-menu li a {
  text-decoration: none;
  color: #333;
  flex-grow: 1;
}
body.dark-mode li a {
  color: #ffffff;
}

/* .avatar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
} */

/* .avatar img {
  margin-right: 10px;
} */

.avatar-text {
  display: flex;
  flex-direction: column;
}

.user-email {
  font-size: 0.8rem;
  color: #666;
}
/* Accordion container */
.accordion {
  max-width: 600px;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

/* Each accordion item */
/* .accordion-item {
  border-bottom: 1px solid #ccc;
} */

/* Accordion header (clickable area) */
.accordion-header {
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
body.dark-mode .accordion-header {
  background-color: #484554;
  color: #fcf7ff;
}
.accordion-header.active {
  background-color: #f5f5f5;
}

.accordion-title {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #334155;
}

body.dark-mode .accordion-title {
  color: #fcf7ff;
}

.accordion-title .arrow {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
}

.accordion-title .arrow::before {
  content: '';
  position: absolute;
  left: 44.79%;
  right: 40.62%;
  top: 36.46%;
  bottom: 36.46%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #334155; /* Color of the arrow */
  transition: transform 0.3s ease;
}

/* Arrow inside the header */
.accordion-header .arrow {
  transition: transform 0.3s ease;
  margin-right: 10px;
  /* display: inline-block; */
}

/* When the accordion is opened, rotate the arrow */
.accordion-header.active .arrow::before {
  transform: rotate(180deg); /* Rotates the arrow down */
}

/* Hidden accordion content by default */
.accordion-content {
  display: none;
  padding: 15px;
  /* background-color: #fff; */
  background-color: #f5f5f5;
  /* border-top: 1px solid #ccc; */
}
body.dark-mode .accordion-content {
  background-color: #383544;
}
.accordion-speaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-speaker .speaker {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #334155;
}
body.dark-mode .accordion-speaker .speaker {
  color: #fcf7ff;
}
.accordion-status {
  background-color: #10b981;
  color: #fff;
  padding: 2px 10px 2px 10px;
  border-radius: 30px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}
.in-progress {
  background-color: #3b82f6;
  color: #fff;
  padding: 2px 10px 2px 10px;
  border-radius: 30px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}
/* Add padding for the accordion content when open */
.accordion-content p {
  margin: 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
  }

  .menu-toggle {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  .main-top-logo {
    display: none;
  }
  .content-top-header {
    display: none;
  }
  .header-bottom {
    border-bottom: none;
    padding-bottom: 16px;
  }
  .bottom-menu {
    display: none;
  }
  .accordion {
    display: none;
  }
  .mobile-table-header {
    display: none;
  }
  .display-result-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar-menu a {
    display: none;
  }
  .sidebar {
    width: 64px;
  }

  .sidebar-menu {
    padding: 0px 16px 8px 8px;
  }
  .message-count {
    width: 6px;
    height: 6px;
    color: red;
    position: relative;
  }
  .count {
    display: none;
  }
  .notification-icon {
    gap: 1px;
    align-items: normal;
  }

  .overview-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .header h1 {
    display: none;
  }
  .sidebar-header {
    display: none;
  }
  .overview-card {
    margin-top: 12px;
  }
  .events h3 {
    margin-top: 21px;
  }

  .event-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 32px;
  }
  .carousel {
    height: 100%;
  }
  .text {
    position: absolute;
    bottom: -15px;
    left: 48%;
    transform: translateX(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 20px;
    font-size: 12px;
    /* text-align: center; */
    width: 100%;
    border-radius: 5px;
    line-height: 16px;
  }
  .events-history-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .events-history-data h3 {
    text-align: left;
  }
  .search-container input {
    width: 100%;
  }
  .history-data {
    width: 100%;
  }
  .input-events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    width: 100%;
  }
  .recent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
  }
  .sort {
    display: flex;
    justify-content: space-between;
    /* gap: 8px; */
    align-items: center;
    width: 100%;
  }
  .most-recent {
    width: 50%;
  }
  .chart-container {
    padding: 10px 5px 5px 10px;
    height: 100%;
  }

  .search-container {
    position: relative;
    width: 100%;
  }

  .ecclipse-export {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .history-data-date {
    padding: 2px 45% !important;
    width: 100%;
    color: #334155 !important;
    /* text-align: center !important; */
    background: url('./assets/mainContentIcons/dropdown.svg') no-repeat right
      40% center;
  }
  .history-data {
    padding: 2px 45% !important;

    background: url('./assets/mainContentIcons/dropdown.svg') no-repeat right
      40% center;
    color: #334155 !important;
  }
  .history-data-recent {
    width: 100% !important;
    outline: none;
    color: #334155 !important;
  }
  .hidden {
    display: none;
  }

  table tbody {
    display: none;
  }
  table {
    display: none;
  }

  .show-row h3 {
    display: none;
  }
  .avatar-text {
    display: none;
  }
  /* .status {
    width: 100%;
  }
  .name {
    width: 100%;
  } */

  .pagination-count {
    margin-bottom: 70px;
  }
  .bottom-menu {
    position: fixed;
    bottom: 0;
    z-index: 50;
    padding: 10px;

    width: 100%;
    background-color: #ffffff;
    flex-direction: row;
    /* justify-content: flex-end; */
  }

  body.dark-mode .bottom-menu {
    background-color: #383544;
    color: #ffffff;
  }

  /* .bottom-menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  } */

  .bottom-menu li {
    flex-grow: 1;
    text-align: center;
  }
  .border-list.active {
    border-top: 2px solid #8576ff !important;
  }
  .list-text.active {
    color: #8576ff !important;
  }
  .group-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }
  .btn-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }
  .btn-edit {
    width: 100%;
  }
  .btn-delete {
    width: 100%;
  }
  .btn-completed {
    width: 100%;
  }
  .recent-border {
    width: 38%;
  }
  .display-result {
    display: none;
  }
}
.status-cell .comp {
  color: #10b981 !important;
  background: #d1fae5 !important;
  border-radius: 100px;
  padding: 4px 13px 4px 13px;
  width: 120px;
  display: flex;
  align-items: center;
  gap: 8px;
}
body.dark-mode .status-cell .comp {
  background: transparent !important;
  border: 1px solid #10b981;
}
.status-cell .progress {
  color: #3b82f6 !important;
  background: #dbeafe !important;
  border-radius: 100px;
  padding: 4px 13px 4px 13px;
  width: 120px;
  display: flex;
  align-items: center;
  gap: 8px;
}
body.dark-mode .status-cell .progress {
  background: transparent !important;
  border: 1px solid #3b82f6;
}
.completed-circle {
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  gap: 0px;
  opacity: 0px;
  background-color: #10b981;
  color: #10b981;
  border-radius: 100%;
}
.progress-circle {
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  gap: 0px;
  opacity: 0px;
  background-color: #3b82f6;
  color: #3b82f6;
  border-radius: 100%;
}
